<%- include("partials/header") -%>

<h1>Home</h1>

<p><%= startingContent %></p>

<% console.log(posts); %>
<% var len = 100; %>
<% posts.forEach((post) => {%>
    <h1><%=post.title%></h1>
    <p>
        <%=String(post.content).substring(0, len) + "..." %>
    <a href="/posts/<%= post.title %>">Read More</a>
    </p>
<% });   %>

<%- include("partials/footer") -%>